@import "~react-image-gallery/styles/css/image-gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: #F5385D;
    color: white !important;
}

input[type='text'], input[type='email'], input[type='password'], input[type='number'], input[type='password'], textarea{
    @apply w-full border rounded-lg px-3 py-2 focus:outline-0;
}

button{
    @apply bg-gray-400 px-4 py-2 rounded-lg 
}

button.primary{
    background-color: #F5385D;
    color: white;
}

.account-link{
    @apply flex gap-2 py-2 px-4 border border-primary text-primary transition-all rounded-full;
}

.accomodationFormHeading{
    @apply font-medium text-xl tracking-wide;
}

.accomodationFormSubheading{
    @apply text-gray-400 lowercase mb-1;
}

.accomodationCards{
    display: grid !important;
    gap: 1rem ;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    @apply mt-12;
}

.image-gallery-svg{
    transform: scale(0.5) !important;
}


button.image-gallery-icon, .image-gallery-index {
    opacity: 0 !important;
    padding: 0 !important;
}

.image-gallery-index{
    height: 2rem;
}

button.image-gallery-icon>svg{
    stroke-width: 2 !important;
}

.accomodationCard:hover .image-gallery-index, .accomodationCard:hover button.image-gallery-icon{
    opacity: 1 !important;
}

.image-gallery-play-button, .image-gallery-fullscreen-button{
    scale: 1.25 !important;
}

.image-gallery,.image-gallery-content, .image-gallery-slide-wrapper, .image-gallery-swipe, .image-gallery-slides, .image-gallery-slide, .image-gallery-image{
    height: 100%;
}
.image-gallery-index{
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem !important;
}

.image-gallery-image{
    object-fit: cover !important;
}
